@if (!dshbdClassesList.IsExport()) {
<div>
@if (!dshbdClassesList.IsGridAdd && !(dshbdClassesList.IsGridEdit && dshbdClassesList.ModalGridEdit) && !dshbdClassesList.IsMultiEdit) {
@Html.Raw(dshbdClassesList.Pager.Render())
}
<div class="ew-list-other-options">
@dshbdClassesList.OtherOptions.RenderBody()
</div>
</div>
}
@if (dshbdClassesList.ModalGridAdd && dshbdClassesList.IsGridAdd || dshbdClassesList.ModalGridEdit && dshbdClassesList.IsGridEdit || dshbdClassesList.ModalMultiEdit && dshbdClassesList.IsMultiEdit) {
<script>
var currentTable = @Html.Raw(ConvertToJson(dshbdClassesList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { dshbdClasses: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(dshbdClassesList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(dshbdClassesList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(dshbdClassesList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(dshbdClassesList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
ew.PREVIEW_SELECTOR = ".ew-preview-btn";
ew.PREVIEW_MODAL_CLASS = "modal modal-fullscreen-sm-down";
ew.PREVIEW_ROW = true;
ew.PREVIEW_SINGLE_ROW = false;
ew.PREVIEW || ew.ready("head", ew.PATH_BASE + "js/preview.min.js?v=20.5.0", "preview");
</script>
}
<form name="@(dshbdClassesList.FormName)" id="@(dshbdClassesList.FormName)" class="ew-form ew-list-form ew-multi-column-form" action="@AppPath(dshbdClassesList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (dshbdClassesList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div class="@(dshbdClassesList.GetMultiColumnRowClass())">
@if (dshbdClassesList.TotalRecords > 0 || dshbdClassesList.IsGridEdit || dshbdClassesList.IsMultiEdit) {
    await dshbdClassesList.SetupGrid();
    bool eof = dshbdClassesList.Recordset == null; // DN
while (dshbdClassesList.RecordCount < dshbdClassesList.StopRecord || SameString(dshbdClassesList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(dshbdClassesList.RowIndex, "$rowindex$") &&
        (!dshbdClassesList.IsGridAdd || dshbdClassesList.CurrentMode == "copy") &&
        (!((dshbdClassesList.IsCopy || dshbdClassesList.IsAdd) && dshbdClassesList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await dshbdClassesList.Recordset.ReadAsync();
    dshbdClassesList.RecordCount++;
    if (dshbdClassesList.RecordCount >= dshbdClassesList.StartRecord) {
        await dshbdClassesList.SetupRow();
<div class="@(dshbdClassesList.GetMultiColumnColClass())" @Html.Raw(dshbdClassesList.RowAttributes)>
<div class="@(dshbdClassesList.MultiColumnCardClass)">
    @if (dshbdClassesList.MultiColumnListOptionsPosition.StartsWith("top", StringComparison.InvariantCultureIgnoreCase)) {
    <div class="card-header">
        <div class="ew-multi-column-list-option ew-@(dshbdClassesList.MultiColumnListOptionsPosition)">
@{
    // Render list options (body, bottom)
    dshbdClassesList.ListOptions.Tag = "div";
    dshbdClassesList.ListOptions.RenderBody(dshbdClassesList.MultiColumnListOptionsPosition, dshbdClassesList.RowCount);
}
        </div><!-- /.ew-multi-column-list-option -->
    </div>
    }
    <div class="card-body">
    @if (dshbdClassesList.ClassStatus.Visible) { // dshbdClassesList.ClassStatus.Visible (begin)
        if (dshbdClassesList.RowType == RowType.View) { // View record
        <div class="row dshbdClasses_ClassStatus">
            <div class="col col-sm-4 dshbdClasses_ClassStatus">@Html.Raw(dshbdClassesList.RenderFieldHeader(dshbdClassesList.ClassStatus))</div>
            <div class="col col-sm-8"><div @Html.Raw(dshbdClassesList.ClassStatus.CellAttributes)>
<span @Html.Raw(dshbdClassesList.ClassStatus.ViewAttributes)>
@Html.Raw(dshbdClassesList.ClassStatus.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row dshbdClasses_ClassStatus">
            <label class="@(dshbdClassesList.LeftColumnClass)">@Html.Raw(dshbdClassesList.ClassStatus.Caption)</label>
            <div class="@(dshbdClassesList.RightColumnClass)"><div @Html.Raw(dshbdClassesList.ClassStatus.CellAttributes)>
<span @Html.Raw(dshbdClassesList.ClassStatus.ViewAttributes)>
@Html.Raw(dshbdClassesList.ClassStatus.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (dshbdClassesList.str_Package_Name.Visible) { // dshbdClassesList.str_Package_Name.Visible (begin)
        if (dshbdClassesList.RowType == RowType.View) { // View record
        <div class="row dshbdClasses_str_Package_Name">
            <div class="col col-sm-4 dshbdClasses_str_Package_Name">@Html.Raw(dshbdClassesList.RenderFieldHeader(dshbdClassesList.str_Package_Name))</div>
            <div class="col col-sm-8"><div @Html.Raw(dshbdClassesList.str_Package_Name.CellAttributes)>
<span @Html.Raw(dshbdClassesList.str_Package_Name.ViewAttributes)>
@Html.Raw(dshbdClassesList.str_Package_Name.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row dshbdClasses_str_Package_Name">
            <label class="@(dshbdClassesList.LeftColumnClass)">@Html.Raw(dshbdClassesList.str_Package_Name.Caption)</label>
            <div class="@(dshbdClassesList.RightColumnClass)"><div @Html.Raw(dshbdClassesList.str_Package_Name.CellAttributes)>
<span @Html.Raw(dshbdClassesList.str_Package_Name.ViewAttributes)>
@Html.Raw(dshbdClassesList.str_Package_Name.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (dshbdClassesList.Numberofopenclasses.Visible) { // dshbdClassesList.Numberofopenclasses.Visible (begin)
        if (dshbdClassesList.RowType == RowType.View) { // View record
        <div class="row dshbdClasses_Numberofopenclasses">
            <div class="col col-sm-4 dshbdClasses_Numberofopenclasses">@Html.Raw(dshbdClassesList.RenderFieldHeader(dshbdClassesList.Numberofopenclasses))</div>
            <div class="col col-sm-8"><div @Html.Raw(dshbdClassesList.Numberofopenclasses.CellAttributes)>
<span @Html.Raw(dshbdClassesList.Numberofopenclasses.ViewAttributes)>
@Html.Raw(dshbdClassesList.Numberofopenclasses.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row dshbdClasses_Numberofopenclasses">
            <label class="@(dshbdClassesList.LeftColumnClass)">@Html.Raw(dshbdClassesList.Numberofopenclasses.Caption)</label>
            <div class="@(dshbdClassesList.RightColumnClass)"><div @Html.Raw(dshbdClassesList.Numberofopenclasses.CellAttributes)>
<span @Html.Raw(dshbdClassesList.Numberofopenclasses.ViewAttributes)>
@Html.Raw(dshbdClassesList.Numberofopenclasses.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    </div><!-- /.card-body -->
@if (!dshbdClassesList.IsExport()) {
    if (dshbdClassesList.MultiColumnListOptionsPosition.StartsWith("bottom", StringComparison.InvariantCultureIgnoreCase)) {
    <div class="card-footer">
        <div class="ew-multi-column-list-option ew-@(dshbdClassesList.MultiColumnListOptionsPosition)">
@{
    // Render list options (body, bottom)
    dshbdClassesList.ListOptions.Tag = "div";
}
@dshbdClassesList.ListOptions.RenderBody(dshbdClassesList.MultiColumnListOptionsPosition, dshbdClassesList.RowCount)
        </div><!-- /.ew-multi-column-list-option -->
    </div><!-- /.card-footer -->
    }
}
</div><!-- /.card -->
</div><!-- /.col-* -->
    } @* End if *@

    // Reset for template row
    if (SameString(dshbdClassesList.RowIndex, "$rowindex$"))
        dshbdClassesList.RowIndex = 0;

    // Reset inline add/copy row
    if ((dshbdClassesList.IsCopy || dshbdClassesList.IsAdd) && dshbdClassesList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        dshbdClassesList.RowIndex = 1;
} @* End While *@
} @* dshbdClassesList.TotalRecords > 0 (end) *@
</div><!-- /.ew-multi-column-row -->
@if (Empty(dshbdClassesList.CurrentAction) && !dshbdClassesList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ dshbdClassesList.CloseRecordset(); }
