@{
    // View
    View = this;

    // Check action result
    if (equipmentAdd.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!equipmentAdd.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(equipmentAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { Equipment: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fEquipmentadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fEquipmentadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["int_Location", [fields.int_Location.visible && fields.int_Location.required ? ew.Validators.required(fields.int_Location.caption) : null], fields.int_Location.isInvalid],
            ["Equipment_Type_ID", [fields.Equipment_Type_ID.visible && fields.Equipment_Type_ID.required ? ew.Validators.required(fields.Equipment_Type_ID.caption) : null], fields.Equipment_Type_ID.isInvalid],
            ["Manufacturer_Name", [fields.Manufacturer_Name.visible && fields.Manufacturer_Name.required ? ew.Validators.required(fields.Manufacturer_Name.caption) : null], fields.Manufacturer_Name.isInvalid],
            ["Serial_VIN_Number", [fields.Serial_VIN_Number.visible && fields.Serial_VIN_Number.required ? ew.Validators.required(fields.Serial_VIN_Number.caption) : null], fields.Serial_VIN_Number.isInvalid],
            ["Retailer_Name", [fields.Retailer_Name.visible && fields.Retailer_Name.required ? ew.Validators.required(fields.Retailer_Name.caption) : null], fields.Retailer_Name.isInvalid],
            ["DatePurchased", [fields.DatePurchased.visible && fields.DatePurchased.required ? ew.Validators.required(fields.DatePurchased.caption) : null, ew.Validators.datetime(fields.DatePurchased.clientFormatPattern)], fields.DatePurchased.isInvalid],
            ["ServiceInception_Date", [fields.ServiceInception_Date.visible && fields.ServiceInception_Date.required ? ew.Validators.required(fields.ServiceInception_Date.caption) : null, ew.Validators.datetime(fields.ServiceInception_Date.clientFormatPattern)], fields.ServiceInception_Date.isInvalid],
            ["UsefulLife", [fields.UsefulLife.visible && fields.UsefulLife.required ? ew.Validators.required(fields.UsefulLife.caption) : null, ew.Validators.integer], fields.UsefulLife.isInvalid],
            ["Price", [fields.Price.visible && fields.Price.required ? ew.Validators.required(fields.Price.caption) : null, ew.Validators.float], fields.Price.isInvalid],
            ["VAT", [fields.VAT.visible && fields.VAT.required ? ew.Validators.required(fields.VAT.caption) : null, ew.Validators.float], fields.VAT.isInvalid],
            ["Creation_Date", [fields.Creation_Date.visible && fields.Creation_Date.required ? ew.Validators.required(fields.Creation_Date.caption) : null], fields.Creation_Date.isInvalid],
            ["Modified_Date", [fields.Modified_Date.visible && fields.Modified_Date.required ? ew.Validators.required(fields.Modified_Date.caption) : null], fields.Modified_Date.isInvalid],
            ["Created_by", [fields.Created_by.visible && fields.Created_by.required ? ew.Validators.required(fields.Created_by.caption) : null], fields.Created_by.isInvalid],
            ["Modified_by", [fields.Modified_by.visible && fields.Modified_by.required ? ew.Validators.required(fields.Modified_by.caption) : null], fields.Modified_by.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Multi-Page
        .setMultiPage(true)

        // Dynamic selection lists
        .setLists({
            "int_Location": @Html.Raw(equipmentAdd.int_Location.ToClientList(equipmentAdd)),
            "Equipment_Type_ID": @Html.Raw(equipmentAdd.Equipment_Type_ID.ToClientList(equipmentAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@equipmentAdd.ShowPageHeader()
@equipmentAdd.ShowMessages()
<form name="fEquipmentadd" id="fEquipmentadd" class="@(equipmentAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(equipmentAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(equipmentAdd.OldKeyName)" value="@Html.Raw(equipmentAdd.OldKey)">
<div class="ew-multi-page"><!-- multi-page -->
<div class="ew-nav@(equipmentAdd.MultiPages.ContainerClasses)" id="pages_equipmentAdd"><!-- multi-page tabs -->
    <ul class="@(equipmentAdd.MultiPages.NavClasses)" role="tablist">
        <li class="nav-item"><button class="@(equipmentAdd.MultiPages.NavLinkClasses(1))" data-bs-target="#tab_Equipment1" data-bs-toggle="tab" type="button" role="tab" aria-controls="tab_Equipment1" aria-selected="@(ConvertToJson(equipmentAdd.MultiPages.IsActive(1)))">@Html.Raw(equipmentAdd.PageCaption(1))</button></li>
        <li class="nav-item"><button class="@(equipmentAdd.MultiPages.NavLinkClasses(2))" data-bs-target="#tab_Equipment2" data-bs-toggle="tab" type="button" role="tab" aria-controls="tab_Equipment2" aria-selected="@(ConvertToJson(equipmentAdd.MultiPages.IsActive(2)))">@Html.Raw(equipmentAdd.PageCaption(2))</button></li>
        <li class="nav-item"><button class="@(equipmentAdd.MultiPages.NavLinkClasses(3))" data-bs-target="#tab_Equipment3" data-bs-toggle="tab" type="button" role="tab" aria-controls="tab_Equipment3" aria-selected="@(ConvertToJson(equipmentAdd.MultiPages.IsActive(3)))">@Html.Raw(equipmentAdd.PageCaption(3))</button></li>
    </ul>
    <div class="@(equipmentAdd.MultiPages.TabContentClasses)"><!-- multi-page .tab-content -->
        <div class="@(equipmentAdd.MultiPages.TabPaneClasses(1))" id="tab_Equipment1" role="tabpanel"><!-- multi-page .tab-pane -->
<div class="ew-add-div"><!-- page* -->
@if (equipmentAdd.int_Location.Visible) { // equipmentAdd.int_Location.Visible (begin)
    <div id="r_int_Location" @Html.Raw(equipmentAdd.int_Location.RowAttributes)>
        <label id="elh_Equipment_int_Location" for="x_int_Location" class="@(equipmentAdd.LeftColumnClass)">@Html.Raw(equipmentAdd.int_Location.Caption)@Html.Raw(equipmentAdd.int_Location.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(equipmentAdd.RightColumnClass)"><div @Html.Raw(equipmentAdd.int_Location.CellAttributes)>
<span id="el_Equipment_int_Location">
    <select
        id="x_int_Location"
        name="x_int_Location"
        class="form-select ew-select@(equipmentAdd.int_Location.IsInvalidClass)"
        data-select2-id="fEquipmentadd_x_int_Location"
        data-table="Equipment"
        data-field="x_int_Location"
        data-page="1"
        data-value-separator="@(equipmentAdd.int_Location.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(equipmentAdd.int_Location.PlaceHolder))"
        @Html.Raw(equipmentAdd.int_Location.EditAttributes)>
        @(equipmentAdd.int_Location.SelectOptionListHtml("x_int_Location"))
    </select>
    @Html.Raw(equipmentAdd.int_Location.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(equipmentAdd.int_Location.GetErrorMessage())</div>
@Html.Raw(equipmentAdd.int_Location.Lookup.GetParamTag(equipmentAdd, "p_x_int_Location"))
<script>
loadjs.ready("fEquipmentadd", function() {
    var options = { name: "x_int_Location", selectId: "fEquipmentadd_x_int_Location" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fEquipmentadd.lists.int_Location?.lookupOptions.length) {
        options.data = { id: "x_int_Location", form: "fEquipmentadd" };
    } else {
        options.ajax = { id: "x_int_Location", form: "fEquipmentadd", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.Equipment.fields.int_Location.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* equipmentAdd.int_Location.Visible (end) *@
</div><!-- /page* -->
        </div><!-- /multi-page .tab-pane -->
        <div class="@(equipmentAdd.MultiPages.TabPaneClasses(2))" id="tab_Equipment2" role="tabpanel"><!-- multi-page .tab-pane -->
<div class="ew-add-div"><!-- page* -->
@if (equipmentAdd.Equipment_Type_ID.Visible) { // equipmentAdd.Equipment_Type_ID.Visible (begin)
    <div id="r_Equipment_Type_ID" @Html.Raw(equipmentAdd.Equipment_Type_ID.RowAttributes)>
        <label id="elh_Equipment_Equipment_Type_ID" for="x_Equipment_Type_ID" class="@(equipmentAdd.LeftColumnClass)">@Html.Raw(equipmentAdd.Equipment_Type_ID.Caption)@Html.Raw(equipmentAdd.Equipment_Type_ID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(equipmentAdd.RightColumnClass)"><div @Html.Raw(equipmentAdd.Equipment_Type_ID.CellAttributes)>
<span id="el_Equipment_Equipment_Type_ID">
    <select
        id="x_Equipment_Type_ID"
        name="x_Equipment_Type_ID"
        class="form-select ew-select@(equipmentAdd.Equipment_Type_ID.IsInvalidClass)"
        data-select2-id="fEquipmentadd_x_Equipment_Type_ID"
        data-table="Equipment"
        data-field="x_Equipment_Type_ID"
        data-page="2"
        data-value-separator="@(equipmentAdd.Equipment_Type_ID.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(equipmentAdd.Equipment_Type_ID.PlaceHolder))"
        @Html.Raw(equipmentAdd.Equipment_Type_ID.EditAttributes)>
        @(equipmentAdd.Equipment_Type_ID.SelectOptionListHtml("x_Equipment_Type_ID"))
    </select>
    @Html.Raw(equipmentAdd.Equipment_Type_ID.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(equipmentAdd.Equipment_Type_ID.GetErrorMessage())</div>
<script>
loadjs.ready("fEquipmentadd", function() {
    var options = { name: "x_Equipment_Type_ID", selectId: "fEquipmentadd_x_Equipment_Type_ID" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fEquipmentadd.lists.Equipment_Type_ID?.lookupOptions.length) {
        options.data = { id: "x_Equipment_Type_ID", form: "fEquipmentadd" };
    } else {
        options.ajax = { id: "x_Equipment_Type_ID", form: "fEquipmentadd", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.Equipment.fields.Equipment_Type_ID.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* equipmentAdd.Equipment_Type_ID.Visible (end) *@
@if (equipmentAdd.Manufacturer_Name.Visible) { // equipmentAdd.Manufacturer_Name.Visible (begin)
    <div id="r_Manufacturer_Name" @Html.Raw(equipmentAdd.Manufacturer_Name.RowAttributes)>
        <label id="elh_Equipment_Manufacturer_Name" for="x_Manufacturer_Name" class="@(equipmentAdd.LeftColumnClass)">@Html.Raw(equipmentAdd.Manufacturer_Name.Caption)@Html.Raw(equipmentAdd.Manufacturer_Name.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(equipmentAdd.RightColumnClass)"><div @Html.Raw(equipmentAdd.Manufacturer_Name.CellAttributes)>
<span id="el_Equipment_Manufacturer_Name">
<input type="@(equipmentAdd.Manufacturer_Name.InputTextType)" name="x_Manufacturer_Name" id="x_Manufacturer_Name" data-table="Equipment" data-field="x_Manufacturer_Name" value="@Html.Raw(equipmentAdd.Manufacturer_Name.EditValue)" data-page="2" size="30" maxlength="200" placeholder="@Html.Raw(HtmlEncode(equipmentAdd.Manufacturer_Name.PlaceHolder))" data-format-pattern="@(equipmentAdd.Manufacturer_Name.FormatPattern)"@Html.Raw(equipmentAdd.Manufacturer_Name.EditAttributes) aria-describedby="x_Manufacturer_Name_help">
@Html.Raw(equipmentAdd.Manufacturer_Name.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(equipmentAdd.Manufacturer_Name.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* equipmentAdd.Manufacturer_Name.Visible (end) *@
@if (equipmentAdd.Serial_VIN_Number.Visible) { // equipmentAdd.Serial_VIN_Number.Visible (begin)
    <div id="r_Serial_VIN_Number" @Html.Raw(equipmentAdd.Serial_VIN_Number.RowAttributes)>
        <label id="elh_Equipment_Serial_VIN_Number" for="x_Serial_VIN_Number" class="@(equipmentAdd.LeftColumnClass)">@Html.Raw(equipmentAdd.Serial_VIN_Number.Caption)@Html.Raw(equipmentAdd.Serial_VIN_Number.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(equipmentAdd.RightColumnClass)"><div @Html.Raw(equipmentAdd.Serial_VIN_Number.CellAttributes)>
<span id="el_Equipment_Serial_VIN_Number">
<input type="@(equipmentAdd.Serial_VIN_Number.InputTextType)" name="x_Serial_VIN_Number" id="x_Serial_VIN_Number" data-table="Equipment" data-field="x_Serial_VIN_Number" value="@Html.Raw(equipmentAdd.Serial_VIN_Number.EditValue)" data-page="2" size="30" maxlength="200" placeholder="@Html.Raw(HtmlEncode(equipmentAdd.Serial_VIN_Number.PlaceHolder))" data-format-pattern="@(equipmentAdd.Serial_VIN_Number.FormatPattern)"@Html.Raw(equipmentAdd.Serial_VIN_Number.EditAttributes) aria-describedby="x_Serial_VIN_Number_help">
@Html.Raw(equipmentAdd.Serial_VIN_Number.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(equipmentAdd.Serial_VIN_Number.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* equipmentAdd.Serial_VIN_Number.Visible (end) *@
@if (equipmentAdd.Retailer_Name.Visible) { // equipmentAdd.Retailer_Name.Visible (begin)
    <div id="r_Retailer_Name" @Html.Raw(equipmentAdd.Retailer_Name.RowAttributes)>
        <label id="elh_Equipment_Retailer_Name" for="x_Retailer_Name" class="@(equipmentAdd.LeftColumnClass)">@Html.Raw(equipmentAdd.Retailer_Name.Caption)@Html.Raw(equipmentAdd.Retailer_Name.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(equipmentAdd.RightColumnClass)"><div @Html.Raw(equipmentAdd.Retailer_Name.CellAttributes)>
<span id="el_Equipment_Retailer_Name">
<input type="@(equipmentAdd.Retailer_Name.InputTextType)" name="x_Retailer_Name" id="x_Retailer_Name" data-table="Equipment" data-field="x_Retailer_Name" value="@Html.Raw(equipmentAdd.Retailer_Name.EditValue)" data-page="2" size="30" maxlength="200" placeholder="@Html.Raw(HtmlEncode(equipmentAdd.Retailer_Name.PlaceHolder))" data-format-pattern="@(equipmentAdd.Retailer_Name.FormatPattern)"@Html.Raw(equipmentAdd.Retailer_Name.EditAttributes) aria-describedby="x_Retailer_Name_help">
@Html.Raw(equipmentAdd.Retailer_Name.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(equipmentAdd.Retailer_Name.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* equipmentAdd.Retailer_Name.Visible (end) *@
</div><!-- /page* -->
        </div><!-- /multi-page .tab-pane -->
        <div class="@(equipmentAdd.MultiPages.TabPaneClasses(3))" id="tab_Equipment3" role="tabpanel"><!-- multi-page .tab-pane -->
<div class="ew-add-div"><!-- page* -->
@if (equipmentAdd.DatePurchased.Visible) { // equipmentAdd.DatePurchased.Visible (begin)
    <div id="r_DatePurchased" @Html.Raw(equipmentAdd.DatePurchased.RowAttributes)>
        <label id="elh_Equipment_DatePurchased" for="x_DatePurchased" class="@(equipmentAdd.LeftColumnClass)">@Html.Raw(equipmentAdd.DatePurchased.Caption)@Html.Raw(equipmentAdd.DatePurchased.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(equipmentAdd.RightColumnClass)"><div @Html.Raw(equipmentAdd.DatePurchased.CellAttributes)>
<span id="el_Equipment_DatePurchased">
<input type="@(equipmentAdd.DatePurchased.InputTextType)" name="x_DatePurchased" id="x_DatePurchased" data-table="Equipment" data-field="x_DatePurchased" value="@Html.Raw(equipmentAdd.DatePurchased.EditValue)" data-page="3" placeholder="@Html.Raw(HtmlEncode(equipmentAdd.DatePurchased.PlaceHolder))" data-format-pattern="@(equipmentAdd.DatePurchased.FormatPattern)"@Html.Raw(equipmentAdd.DatePurchased.EditAttributes) aria-describedby="x_DatePurchased_help">
@Html.Raw(equipmentAdd.DatePurchased.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(equipmentAdd.DatePurchased.GetErrorMessage())</div>
@if (!equipmentAdd.DatePurchased.ReadOnly && !equipmentAdd.DatePurchased.Disabled && !equipmentAdd.DatePurchased.EditAttrs.Is("readonly") && !equipmentAdd.DatePurchased.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fEquipmentadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fEquipmentadd", "x_DatePurchased", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* equipmentAdd.DatePurchased.Visible (end) *@
@if (equipmentAdd.ServiceInception_Date.Visible) { // equipmentAdd.ServiceInception_Date.Visible (begin)
    <div id="r_ServiceInception_Date" @Html.Raw(equipmentAdd.ServiceInception_Date.RowAttributes)>
        <label id="elh_Equipment_ServiceInception_Date" for="x_ServiceInception_Date" class="@(equipmentAdd.LeftColumnClass)">@Html.Raw(equipmentAdd.ServiceInception_Date.Caption)@Html.Raw(equipmentAdd.ServiceInception_Date.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(equipmentAdd.RightColumnClass)"><div @Html.Raw(equipmentAdd.ServiceInception_Date.CellAttributes)>
<span id="el_Equipment_ServiceInception_Date">
<input type="@(equipmentAdd.ServiceInception_Date.InputTextType)" name="x_ServiceInception_Date" id="x_ServiceInception_Date" data-table="Equipment" data-field="x_ServiceInception_Date" value="@Html.Raw(equipmentAdd.ServiceInception_Date.EditValue)" data-page="3" placeholder="@Html.Raw(HtmlEncode(equipmentAdd.ServiceInception_Date.PlaceHolder))" data-format-pattern="@(equipmentAdd.ServiceInception_Date.FormatPattern)"@Html.Raw(equipmentAdd.ServiceInception_Date.EditAttributes) aria-describedby="x_ServiceInception_Date_help">
@Html.Raw(equipmentAdd.ServiceInception_Date.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(equipmentAdd.ServiceInception_Date.GetErrorMessage())</div>
@if (!equipmentAdd.ServiceInception_Date.ReadOnly && !equipmentAdd.ServiceInception_Date.Disabled && !equipmentAdd.ServiceInception_Date.EditAttrs.Is("readonly") && !equipmentAdd.ServiceInception_Date.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fEquipmentadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fEquipmentadd", "x_ServiceInception_Date", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* equipmentAdd.ServiceInception_Date.Visible (end) *@
@if (equipmentAdd.UsefulLife.Visible) { // equipmentAdd.UsefulLife.Visible (begin)
    <div id="r_UsefulLife" @Html.Raw(equipmentAdd.UsefulLife.RowAttributes)>
        <label id="elh_Equipment_UsefulLife" for="x_UsefulLife" class="@(equipmentAdd.LeftColumnClass)">@Html.Raw(equipmentAdd.UsefulLife.Caption)@Html.Raw(equipmentAdd.UsefulLife.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(equipmentAdd.RightColumnClass)"><div @Html.Raw(equipmentAdd.UsefulLife.CellAttributes)>
<span id="el_Equipment_UsefulLife">
<input type="@(equipmentAdd.UsefulLife.InputTextType)" name="x_UsefulLife" id="x_UsefulLife" data-table="Equipment" data-field="x_UsefulLife" value="@Html.Raw(equipmentAdd.UsefulLife.EditValue)" data-page="3" size="30" placeholder="@Html.Raw(HtmlEncode(equipmentAdd.UsefulLife.PlaceHolder))" data-format-pattern="@(equipmentAdd.UsefulLife.FormatPattern)"@Html.Raw(equipmentAdd.UsefulLife.EditAttributes) aria-describedby="x_UsefulLife_help">
@Html.Raw(equipmentAdd.UsefulLife.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(equipmentAdd.UsefulLife.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* equipmentAdd.UsefulLife.Visible (end) *@
@if (equipmentAdd.Price.Visible) { // equipmentAdd.Price.Visible (begin)
    <div id="r_Price" @Html.Raw(equipmentAdd.Price.RowAttributes)>
        <label id="elh_Equipment_Price" for="x_Price" class="@(equipmentAdd.LeftColumnClass)">@Html.Raw(equipmentAdd.Price.Caption)@Html.Raw(equipmentAdd.Price.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(equipmentAdd.RightColumnClass)"><div @Html.Raw(equipmentAdd.Price.CellAttributes)>
<span id="el_Equipment_Price">
<input type="@(equipmentAdd.Price.InputTextType)" name="x_Price" id="x_Price" data-table="Equipment" data-field="x_Price" value="@Html.Raw(equipmentAdd.Price.EditValue)" data-page="3" size="30" placeholder="@Html.Raw(HtmlEncode(equipmentAdd.Price.PlaceHolder))" data-format-pattern="@(equipmentAdd.Price.FormatPattern)"@Html.Raw(equipmentAdd.Price.EditAttributes) aria-describedby="x_Price_help">
@Html.Raw(equipmentAdd.Price.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(equipmentAdd.Price.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* equipmentAdd.Price.Visible (end) *@
@if (equipmentAdd.VAT.Visible) { // equipmentAdd.VAT.Visible (begin)
    <div id="r_VAT" @Html.Raw(equipmentAdd.VAT.RowAttributes)>
        <label id="elh_Equipment_VAT" for="x_VAT" class="@(equipmentAdd.LeftColumnClass)">@Html.Raw(equipmentAdd.VAT.Caption)@Html.Raw(equipmentAdd.VAT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(equipmentAdd.RightColumnClass)"><div @Html.Raw(equipmentAdd.VAT.CellAttributes)>
<span id="el_Equipment_VAT">
<input type="@(equipmentAdd.VAT.InputTextType)" name="x_VAT" id="x_VAT" data-table="Equipment" data-field="x_VAT" value="@Html.Raw(equipmentAdd.VAT.EditValue)" data-page="3" size="30" placeholder="@Html.Raw(HtmlEncode(equipmentAdd.VAT.PlaceHolder))" data-format-pattern="@(equipmentAdd.VAT.FormatPattern)"@Html.Raw(equipmentAdd.VAT.EditAttributes) aria-describedby="x_VAT_help">
@Html.Raw(equipmentAdd.VAT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(equipmentAdd.VAT.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* equipmentAdd.VAT.Visible (end) *@
</div><!-- /page* -->
        </div><!-- /multi-page .tab-pane -->
    </div><!-- /multi-page tabs .tab-content -->
</div><!-- /multi-page tabs -->
</div><!-- /multi-page -->
@{ equipmentAdd.CloseRecordset(); }
@Html.Raw(equipmentAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(equipmentAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fEquipmentadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fEquipmentadd" data-href="@AppPath(equipmentAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(equipmentAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@equipmentAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("Equipment");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
