@if (!qryClassRoomListList.IsExport()) {
<div>
@if (!qryClassRoomListList.IsGridAdd && !(qryClassRoomListList.IsGridEdit && qryClassRoomListList.ModalGridEdit) && !qryClassRoomListList.IsMultiEdit) {
@Html.Raw(qryClassRoomListList.Pager.Render())
}
<div class="ew-list-other-options">
@qryClassRoomListList.OtherOptions.RenderBody()
</div>
</div>
}
@if (qryClassRoomListList.ModalGridAdd && qryClassRoomListList.IsGridAdd || qryClassRoomListList.ModalGridEdit && qryClassRoomListList.IsGridEdit || qryClassRoomListList.ModalMultiEdit && qryClassRoomListList.IsMultiEdit) {
<script>
var currentTable = @Html.Raw(ConvertToJson(qryClassRoomListList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { qryClassRoomList: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(qryClassRoomListList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(qryClassRoomListList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(qryClassRoomListList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(qryClassRoomListList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
ew.PREVIEW_SELECTOR = ".ew-preview-btn";
ew.PREVIEW_MODAL_CLASS = "modal modal-fullscreen-sm-down";
ew.PREVIEW_ROW = true;
ew.PREVIEW_SINGLE_ROW = false;
ew.PREVIEW || ew.ready("head", ew.PATH_BASE + "js/preview.min.js?v=20.5.0", "preview");
</script>
}
<form name="@(qryClassRoomListList.FormName)" id="@(qryClassRoomListList.FormName)" class="ew-form ew-list-form ew-multi-column-form" action="@AppPath(qryClassRoomListList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (qryClassRoomListList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div class="@(qryClassRoomListList.GetMultiColumnRowClass())">
@if (qryClassRoomListList.TotalRecords > 0 || qryClassRoomListList.IsGridEdit || qryClassRoomListList.IsMultiEdit) {
    await qryClassRoomListList.SetupGrid();
    bool eof = qryClassRoomListList.Recordset == null; // DN
while (qryClassRoomListList.RecordCount < qryClassRoomListList.StopRecord || SameString(qryClassRoomListList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(qryClassRoomListList.RowIndex, "$rowindex$") &&
        (!qryClassRoomListList.IsGridAdd || qryClassRoomListList.CurrentMode == "copy") &&
        (!((qryClassRoomListList.IsCopy || qryClassRoomListList.IsAdd) && qryClassRoomListList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await qryClassRoomListList.Recordset.ReadAsync();
    qryClassRoomListList.RecordCount++;
    if (qryClassRoomListList.RecordCount >= qryClassRoomListList.StartRecord) {
        await qryClassRoomListList.SetupRow();
<div class="@(qryClassRoomListList.GetMultiColumnColClass())" @Html.Raw(qryClassRoomListList.RowAttributes)>
<div class="@(qryClassRoomListList.MultiColumnCardClass)">
    @if (qryClassRoomListList.MultiColumnListOptionsPosition.StartsWith("top", StringComparison.InvariantCultureIgnoreCase)) {
    <div class="card-header">
        <div class="ew-multi-column-list-option ew-@(qryClassRoomListList.MultiColumnListOptionsPosition)">
@{
    // Render list options (body, bottom)
    qryClassRoomListList.ListOptions.Tag = "div";
    qryClassRoomListList.ListOptions.RenderBody(qryClassRoomListList.MultiColumnListOptionsPosition, qryClassRoomListList.RowCount);
}
        </div><!-- /.ew-multi-column-list-option -->
    </div>
    }
    <div class="card-body">
    @if (qryClassRoomListList.int_CR_ID.Visible) { // qryClassRoomListList.int_CR_ID.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_int_CR_ID">
            <div class="col col-sm-4 qryClassRoomList_int_CR_ID">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.int_CR_ID))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.int_CR_ID.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_CR_ID.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_CR_ID.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_int_CR_ID">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.int_CR_ID.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.int_CR_ID.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_CR_ID.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_CR_ID.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.int_CR_Product_ID.Visible) { // qryClassRoomListList.int_CR_Product_ID.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_int_CR_Product_ID">
            <div class="col col-sm-4 qryClassRoomList_int_CR_Product_ID">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.int_CR_Product_ID))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.int_CR_Product_ID.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_CR_Product_ID.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_CR_Product_ID.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_int_CR_Product_ID">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.int_CR_Product_ID.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.int_CR_Product_ID.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_CR_Product_ID.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_CR_Product_ID.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.str_CR_Number.Visible) { // qryClassRoomListList.str_CR_Number.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_str_CR_Number">
            <div class="col col-sm-4 qryClassRoomList_str_CR_Number">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.str_CR_Number))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.str_CR_Number.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.str_CR_Number.ViewAttributes)>
@Html.Raw(qryClassRoomListList.str_CR_Number.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_str_CR_Number">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.str_CR_Number.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.str_CR_Number.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.str_CR_Number.ViewAttributes)>
@Html.Raw(qryClassRoomListList.str_CR_Number.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.mon_CR_Price.Visible) { // qryClassRoomListList.mon_CR_Price.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_mon_CR_Price">
            <div class="col col-sm-4 qryClassRoomList_mon_CR_Price">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.mon_CR_Price))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.mon_CR_Price.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.mon_CR_Price.ViewAttributes)>
@Html.Raw(qryClassRoomListList.mon_CR_Price.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_mon_CR_Price">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.mon_CR_Price.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.mon_CR_Price.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.mon_CR_Price.ViewAttributes)>
@Html.Raw(qryClassRoomListList.mon_CR_Price.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.int_CR_Size.Visible) { // qryClassRoomListList.int_CR_Size.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_int_CR_Size">
            <div class="col col-sm-4 qryClassRoomList_int_CR_Size">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.int_CR_Size))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.int_CR_Size.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_CR_Size.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_CR_Size.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_int_CR_Size">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.int_CR_Size.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.int_CR_Size.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_CR_Size.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_CR_Size.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.int_MU_Size.Visible) { // qryClassRoomListList.int_MU_Size.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_int_MU_Size">
            <div class="col col-sm-4 qryClassRoomList_int_MU_Size">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.int_MU_Size))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.int_MU_Size.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_MU_Size.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_MU_Size.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_int_MU_Size">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.int_MU_Size.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.int_MU_Size.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_MU_Size.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_MU_Size.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.int_CR_Status.Visible) { // qryClassRoomListList.int_CR_Status.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_int_CR_Status">
            <div class="col col-sm-4 qryClassRoomList_int_CR_Status">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.int_CR_Status))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.int_CR_Status.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_CR_Status.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_CR_Status.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_int_CR_Status">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.int_CR_Status.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.int_CR_Status.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_CR_Status.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_CR_Status.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.Is_Web_SignUp.Visible) { // qryClassRoomListList.Is_Web_SignUp.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_Is_Web_SignUp">
            <div class="col col-sm-4 qryClassRoomList_Is_Web_SignUp">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.Is_Web_SignUp))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.Is_Web_SignUp.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.Is_Web_SignUp.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_Is_Web_SignUp_@(qryClassRoomListList.RowCount)" class="form-check-input" value="@(qryClassRoomListList.Is_Web_SignUp.GetViewValue())" disabled checked="@(ConvertToBool(qryClassRoomListList.Is_Web_SignUp.CurrentValue))">
    <label class="form-check-label" for="x_Is_Web_SignUp_@(qryClassRoomListList.RowCount)"></label>
</div></span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_Is_Web_SignUp">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.Is_Web_SignUp.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.Is_Web_SignUp.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.Is_Web_SignUp.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_Is_Web_SignUp_@(qryClassRoomListList.RowCount)" class="form-check-input" value="@(qryClassRoomListList.Is_Web_SignUp.GetViewValue())" disabled checked="@(ConvertToBool(qryClassRoomListList.Is_Web_SignUp.CurrentValue))">
    <label class="form-check-label" for="x_Is_Web_SignUp_@(qryClassRoomListList.RowCount)"></label>
</div></span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.int_Location_ID.Visible) { // qryClassRoomListList.int_Location_ID.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_int_Location_ID">
            <div class="col col-sm-4 qryClassRoomList_int_Location_ID">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.int_Location_ID))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.int_Location_ID.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_Location_ID.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_Location_ID.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_int_Location_ID">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.int_Location_ID.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.int_Location_ID.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_Location_ID.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_Location_ID.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.int_Teacher_ID.Visible) { // qryClassRoomListList.int_Teacher_ID.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_int_Teacher_ID">
            <div class="col col-sm-4 qryClassRoomList_int_Teacher_ID">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.int_Teacher_ID))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.int_Teacher_ID.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_Teacher_ID.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_Teacher_ID.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_int_Teacher_ID">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.int_Teacher_ID.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.int_Teacher_ID.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_Teacher_ID.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_Teacher_ID.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.date_Start.Visible) { // qryClassRoomListList.date_Start.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_date_Start">
            <div class="col col-sm-4 qryClassRoomList_date_Start">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.date_Start))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.date_Start.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.date_Start.ViewAttributes)>
@Html.Raw(qryClassRoomListList.date_Start.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_date_Start">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.date_Start.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.date_Start.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.date_Start.ViewAttributes)>
@Html.Raw(qryClassRoomListList.date_Start.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.int_TotSession.Visible) { // qryClassRoomListList.int_TotSession.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_int_TotSession">
            <div class="col col-sm-4 qryClassRoomList_int_TotSession">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.int_TotSession))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.int_TotSession.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_TotSession.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_TotSession.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_int_TotSession">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.int_TotSession.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.int_TotSession.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_TotSession.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_TotSession.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.int_PerDaySession.Visible) { // qryClassRoomListList.int_PerDaySession.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_int_PerDaySession">
            <div class="col col-sm-4 qryClassRoomList_int_PerDaySession">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.int_PerDaySession))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.int_PerDaySession.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_PerDaySession.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_PerDaySession.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_int_PerDaySession">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.int_PerDaySession.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.int_PerDaySession.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_PerDaySession.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_PerDaySession.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.str_CR_Days.Visible) { // qryClassRoomListList.str_CR_Days.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_str_CR_Days">
            <div class="col col-sm-4 qryClassRoomList_str_CR_Days">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.str_CR_Days))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.str_CR_Days.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.str_CR_Days.ViewAttributes)>
@Html.Raw(qryClassRoomListList.str_CR_Days.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_str_CR_Days">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.str_CR_Days.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.str_CR_Days.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.str_CR_Days.ViewAttributes)>
@Html.Raw(qryClassRoomListList.str_CR_Days.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.str_CR_Notes.Visible) { // qryClassRoomListList.str_CR_Notes.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_str_CR_Notes">
            <div class="col col-sm-4 qryClassRoomList_str_CR_Notes">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.str_CR_Notes))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.str_CR_Notes.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.str_CR_Notes.ViewAttributes)>
@Html.Raw(qryClassRoomListList.str_CR_Notes.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_str_CR_Notes">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.str_CR_Notes.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.str_CR_Notes.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.str_CR_Notes.ViewAttributes)>
@Html.Raw(qryClassRoomListList.str_CR_Notes.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.int_Created_By.Visible) { // qryClassRoomListList.int_Created_By.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_int_Created_By">
            <div class="col col-sm-4 qryClassRoomList_int_Created_By">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.int_Created_By))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.int_Created_By.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_Created_By.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_Created_By.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_int_Created_By">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.int_Created_By.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.int_Created_By.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_Created_By.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_Created_By.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.int_Modified_By.Visible) { // qryClassRoomListList.int_Modified_By.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_int_Modified_By">
            <div class="col col-sm-4 qryClassRoomList_int_Modified_By">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.int_Modified_By))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.int_Modified_By.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_Modified_By.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_Modified_By.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_int_Modified_By">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.int_Modified_By.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.int_Modified_By.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_Modified_By.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_Modified_By.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.date_Created.Visible) { // qryClassRoomListList.date_Created.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_date_Created">
            <div class="col col-sm-4 qryClassRoomList_date_Created">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.date_Created))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.date_Created.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.date_Created.ViewAttributes)>
@Html.Raw(qryClassRoomListList.date_Created.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_date_Created">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.date_Created.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.date_Created.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.date_Created.ViewAttributes)>
@Html.Raw(qryClassRoomListList.date_Created.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.date_Modified.Visible) { // qryClassRoomListList.date_Modified.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_date_Modified">
            <div class="col col-sm-4 qryClassRoomList_date_Modified">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.date_Modified))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.date_Modified.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.date_Modified.ViewAttributes)>
@Html.Raw(qryClassRoomListList.date_Modified.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_date_Modified">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.date_Modified.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.date_Modified.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.date_Modified.ViewAttributes)>
@Html.Raw(qryClassRoomListList.date_Modified.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.bit_IsDeleted.Visible) { // qryClassRoomListList.bit_IsDeleted.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_bit_IsDeleted">
            <div class="col col-sm-4 qryClassRoomList_bit_IsDeleted">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.bit_IsDeleted))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.bit_IsDeleted.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.bit_IsDeleted.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_bit_IsDeleted_@(qryClassRoomListList.RowCount)" class="form-check-input" value="@(qryClassRoomListList.bit_IsDeleted.GetViewValue())" disabled checked="@(ConvertToBool(qryClassRoomListList.bit_IsDeleted.CurrentValue))">
    <label class="form-check-label" for="x_bit_IsDeleted_@(qryClassRoomListList.RowCount)"></label>
</div></span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_bit_IsDeleted">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.bit_IsDeleted.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.bit_IsDeleted.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.bit_IsDeleted.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_bit_IsDeleted_@(qryClassRoomListList.RowCount)" class="form-check-input" value="@(qryClassRoomListList.bit_IsDeleted.GetViewValue())" disabled checked="@(ConvertToBool(qryClassRoomListList.bit_IsDeleted.CurrentValue))">
    <label class="form-check-label" for="x_bit_IsDeleted_@(qryClassRoomListList.RowCount)"></label>
</div></span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.bit_AllTeacher.Visible) { // qryClassRoomListList.bit_AllTeacher.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_bit_AllTeacher">
            <div class="col col-sm-4 qryClassRoomList_bit_AllTeacher">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.bit_AllTeacher))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.bit_AllTeacher.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.bit_AllTeacher.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_bit_AllTeacher_@(qryClassRoomListList.RowCount)" class="form-check-input" value="@(qryClassRoomListList.bit_AllTeacher.GetViewValue())" disabled checked="@(ConvertToBool(qryClassRoomListList.bit_AllTeacher.CurrentValue))">
    <label class="form-check-label" for="x_bit_AllTeacher_@(qryClassRoomListList.RowCount)"></label>
</div></span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_bit_AllTeacher">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.bit_AllTeacher.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.bit_AllTeacher.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.bit_AllTeacher.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_bit_AllTeacher_@(qryClassRoomListList.RowCount)" class="form-check-input" value="@(qryClassRoomListList.bit_AllTeacher.GetViewValue())" disabled checked="@(ConvertToBool(qryClassRoomListList.bit_AllTeacher.CurrentValue))">
    <label class="form-check-label" for="x_bit_AllTeacher_@(qryClassRoomListList.RowCount)"></label>
</div></span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.int_Manual_Change.Visible) { // qryClassRoomListList.int_Manual_Change.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_int_Manual_Change">
            <div class="col col-sm-4 qryClassRoomList_int_Manual_Change">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.int_Manual_Change))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.int_Manual_Change.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_Manual_Change.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_Manual_Change.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_int_Manual_Change">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.int_Manual_Change.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.int_Manual_Change.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_Manual_Change.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_Manual_Change.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.str_WebDesc.Visible) { // qryClassRoomListList.str_WebDesc.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_str_WebDesc">
            <div class="col col-sm-4 qryClassRoomList_str_WebDesc">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.str_WebDesc))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.str_WebDesc.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.str_WebDesc.ViewAttributes)>
@Html.Raw(qryClassRoomListList.str_WebDesc.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_str_WebDesc">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.str_WebDesc.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.str_WebDesc.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.str_WebDesc.ViewAttributes)>
@Html.Raw(qryClassRoomListList.str_WebDesc.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.is_Show.Visible) { // qryClassRoomListList.is_Show.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_is_Show">
            <div class="col col-sm-4 qryClassRoomList_is_Show">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.is_Show))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.is_Show.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.is_Show.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_is_Show_@(qryClassRoomListList.RowCount)" class="form-check-input" value="@(qryClassRoomListList.is_Show.GetViewValue())" disabled checked="@(ConvertToBool(qryClassRoomListList.is_Show.CurrentValue))">
    <label class="form-check-label" for="x_is_Show_@(qryClassRoomListList.RowCount)"></label>
</div></span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_is_Show">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.is_Show.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.is_Show.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.is_Show.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_is_Show_@(qryClassRoomListList.RowCount)" class="form-check-input" value="@(qryClassRoomListList.is_Show.GetViewValue())" disabled checked="@(ConvertToBool(qryClassRoomListList.is_Show.CurrentValue))">
    <label class="form-check-label" for="x_is_Show_@(qryClassRoomListList.RowCount)"></label>
</div></span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.is_ShowGridColumn.Visible) { // qryClassRoomListList.is_ShowGridColumn.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_is_ShowGridColumn">
            <div class="col col-sm-4 qryClassRoomList_is_ShowGridColumn">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.is_ShowGridColumn))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.is_ShowGridColumn.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.is_ShowGridColumn.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_is_ShowGridColumn_@(qryClassRoomListList.RowCount)" class="form-check-input" value="@(qryClassRoomListList.is_ShowGridColumn.GetViewValue())" disabled checked="@(ConvertToBool(qryClassRoomListList.is_ShowGridColumn.CurrentValue))">
    <label class="form-check-label" for="x_is_ShowGridColumn_@(qryClassRoomListList.RowCount)"></label>
</div></span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_is_ShowGridColumn">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.is_ShowGridColumn.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.is_ShowGridColumn.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.is_ShowGridColumn.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_is_ShowGridColumn_@(qryClassRoomListList.RowCount)" class="form-check-input" value="@(qryClassRoomListList.is_ShowGridColumn.GetViewValue())" disabled checked="@(ConvertToBool(qryClassRoomListList.is_ShowGridColumn.CurrentValue))">
    <label class="form-check-label" for="x_is_ShowGridColumn_@(qryClassRoomListList.RowCount)"></label>
</div></span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.rowIndex.Visible) { // qryClassRoomListList.rowIndex.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_rowIndex">
            <div class="col col-sm-4 qryClassRoomList_rowIndex">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.rowIndex))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.rowIndex.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.rowIndex.ViewAttributes)>
@Html.Raw(qryClassRoomListList.rowIndex.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_rowIndex">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.rowIndex.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.rowIndex.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.rowIndex.ViewAttributes)>
@Html.Raw(qryClassRoomListList.rowIndex.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.is_ZoomMeet.Visible) { // qryClassRoomListList.is_ZoomMeet.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_is_ZoomMeet">
            <div class="col col-sm-4 qryClassRoomList_is_ZoomMeet">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.is_ZoomMeet))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.is_ZoomMeet.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.is_ZoomMeet.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_is_ZoomMeet_@(qryClassRoomListList.RowCount)" class="form-check-input" value="@(qryClassRoomListList.is_ZoomMeet.GetViewValue())" disabled checked="@(ConvertToBool(qryClassRoomListList.is_ZoomMeet.CurrentValue))">
    <label class="form-check-label" for="x_is_ZoomMeet_@(qryClassRoomListList.RowCount)"></label>
</div></span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_is_ZoomMeet">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.is_ZoomMeet.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.is_ZoomMeet.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.is_ZoomMeet.ViewAttributes)>
<div class="form-check d-inline-block">
    <input type="checkbox" id="x_is_ZoomMeet_@(qryClassRoomListList.RowCount)" class="form-check-input" value="@(qryClassRoomListList.is_ZoomMeet.GetViewValue())" disabled checked="@(ConvertToBool(qryClassRoomListList.is_ZoomMeet.CurrentValue))">
    <label class="form-check-label" for="x_is_ZoomMeet_@(qryClassRoomListList.RowCount)"></label>
</div></span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.BulkCR_Set.Visible) { // qryClassRoomListList.BulkCR_Set.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_BulkCR_Set">
            <div class="col col-sm-4 qryClassRoomList_BulkCR_Set">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.BulkCR_Set))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.BulkCR_Set.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.BulkCR_Set.ViewAttributes)>
@Html.Raw(qryClassRoomListList.BulkCR_Set.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_BulkCR_Set">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.BulkCR_Set.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.BulkCR_Set.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.BulkCR_Set.ViewAttributes)>
@Html.Raw(qryClassRoomListList.BulkCR_Set.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.int_Day_Incremental.Visible) { // qryClassRoomListList.int_Day_Incremental.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_int_Day_Incremental">
            <div class="col col-sm-4 qryClassRoomList_int_Day_Incremental">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.int_Day_Incremental))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.int_Day_Incremental.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_Day_Incremental.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_Day_Incremental.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_int_Day_Incremental">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.int_Day_Incremental.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.int_Day_Incremental.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_Day_Incremental.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_Day_Incremental.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.int_Reoccurrence.Visible) { // qryClassRoomListList.int_Reoccurrence.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_int_Reoccurrence">
            <div class="col col-sm-4 qryClassRoomList_int_Reoccurrence">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.int_Reoccurrence))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.int_Reoccurrence.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_Reoccurrence.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_Reoccurrence.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_int_Reoccurrence">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.int_Reoccurrence.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.int_Reoccurrence.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.int_Reoccurrence.ViewAttributes)>
@Html.Raw(qryClassRoomListList.int_Reoccurrence.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.str_Username.Visible) { // qryClassRoomListList.str_Username.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_str_Username">
            <div class="col col-sm-4 qryClassRoomList_str_Username">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.str_Username))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.str_Username.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.str_Username.ViewAttributes)>
@Html.Raw(qryClassRoomListList.str_Username.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_str_Username">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.str_Username.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.str_Username.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.str_Username.ViewAttributes)>
@Html.Raw(qryClassRoomListList.str_Username.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.Calendar_ID.Visible) { // qryClassRoomListList.Calendar_ID.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_Calendar_ID">
            <div class="col col-sm-4 qryClassRoomList_Calendar_ID">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.Calendar_ID))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.Calendar_ID.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.Calendar_ID.ViewAttributes)>
@Html.Raw(qryClassRoomListList.Calendar_ID.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_Calendar_ID">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.Calendar_ID.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.Calendar_ID.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.Calendar_ID.ViewAttributes)>
@Html.Raw(qryClassRoomListList.Calendar_ID.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.str_Package_Name.Visible) { // qryClassRoomListList.str_Package_Name.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_str_Package_Name">
            <div class="col col-sm-4 qryClassRoomList_str_Package_Name">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.str_Package_Name))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.str_Package_Name.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.str_Package_Name.ViewAttributes)>
@Html.Raw(qryClassRoomListList.str_Package_Name.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_str_Package_Name">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.str_Package_Name.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.str_Package_Name.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.str_Package_Name.ViewAttributes)>
@Html.Raw(qryClassRoomListList.str_Package_Name.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.date_Start2.Visible) { // qryClassRoomListList.date_Start2.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_date_Start2">
            <div class="col col-sm-4 qryClassRoomList_date_Start2">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.date_Start2))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.date_Start2.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.date_Start2.ViewAttributes)>
@Html.Raw(qryClassRoomListList.date_Start2.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_date_Start2">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.date_Start2.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.date_Start2.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.date_Start2.ViewAttributes)>
@Html.Raw(qryClassRoomListList.date_Start2.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.date_Start3.Visible) { // qryClassRoomListList.date_Start3.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_date_Start3">
            <div class="col col-sm-4 qryClassRoomList_date_Start3">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.date_Start3))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.date_Start3.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.date_Start3.ViewAttributes)>
@Html.Raw(qryClassRoomListList.date_Start3.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_date_Start3">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.date_Start3.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.date_Start3.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.date_Start3.ViewAttributes)>
@Html.Raw(qryClassRoomListList.date_Start3.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    @if (qryClassRoomListList.date_Start4.Visible) { // qryClassRoomListList.date_Start4.Visible (begin)
        if (qryClassRoomListList.RowType == RowType.View) { // View record
        <div class="row qryClassRoomList_date_Start4">
            <div class="col col-sm-4 qryClassRoomList_date_Start4">@Html.Raw(qryClassRoomListList.RenderFieldHeader(qryClassRoomListList.date_Start4))</div>
            <div class="col col-sm-8"><div @Html.Raw(qryClassRoomListList.date_Start4.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.date_Start4.ViewAttributes)>
@Html.Raw(qryClassRoomListList.date_Start4.GetViewValue())</span>
</div></div>
        </div>
        } else { // Add/edit record
        <div class="row qryClassRoomList_date_Start4">
            <label class="@(qryClassRoomListList.LeftColumnClass)">@Html.Raw(qryClassRoomListList.date_Start4.Caption)</label>
            <div class="@(qryClassRoomListList.RightColumnClass)"><div @Html.Raw(qryClassRoomListList.date_Start4.CellAttributes)>
<span @Html.Raw(qryClassRoomListList.date_Start4.ViewAttributes)>
@Html.Raw(qryClassRoomListList.date_Start4.GetViewValue())</span>
</div></div>
        </div>
        }
    }
    </div><!-- /.card-body -->
@if (!qryClassRoomListList.IsExport()) {
    if (qryClassRoomListList.MultiColumnListOptionsPosition.StartsWith("bottom", StringComparison.InvariantCultureIgnoreCase)) {
    <div class="card-footer">
        <div class="ew-multi-column-list-option ew-@(qryClassRoomListList.MultiColumnListOptionsPosition)">
@{
    // Render list options (body, bottom)
    qryClassRoomListList.ListOptions.Tag = "div";
}
@qryClassRoomListList.ListOptions.RenderBody(qryClassRoomListList.MultiColumnListOptionsPosition, qryClassRoomListList.RowCount)
        </div><!-- /.ew-multi-column-list-option -->
    </div><!-- /.card-footer -->
    }
}
</div><!-- /.card -->
</div><!-- /.col-* -->
    } @* End if *@

    // Reset for template row
    if (SameString(qryClassRoomListList.RowIndex, "$rowindex$"))
        qryClassRoomListList.RowIndex = 0;

    // Reset inline add/copy row
    if ((qryClassRoomListList.IsCopy || qryClassRoomListList.IsAdd) && qryClassRoomListList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        qryClassRoomListList.RowIndex = 1;
} @* End While *@
} @* qryClassRoomListList.TotalRecords > 0 (end) *@
</div><!-- /.ew-multi-column-row -->
@if (Empty(qryClassRoomListList.CurrentAction) && !qryClassRoomListList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ qryClassRoomListList.CloseRecordset(); }
