@using AlriyadahBMS.Services
@using AlriyadahBMS.Shared.ViewModels
@inherits LayoutComponentBase
@inject LocalizationService Language
@inject IJSRuntime JsService

@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div> *@

<MudRTLProvider RightToLeft="@LocalizationService.IsRTL">
    @* <MudRTLProvider RightToLeft="false"> *@
    <MudDialogProvider />
    <MudSnackbarProvider />
    <MudThemeProvider Theme="MyCustomTheme" />

    <CascadingValue Value="this">
        <MudLayout>
            <ChildContent>
                <AuthorizeView>
                    <Authorized>
                        <MudAppBar Elevation="1">
                            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
                            <MudSpacer />
                            @* <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" /> *@
                        </MudAppBar>
                        <MudDrawer @bind-Open="_drawerOpen" Elevation="2">

                            <MudDrawerHeader>
                                <MudImage Src="images/drawerLogo.png" Alt="Alriyadah" Class="rounded-lg" Height="100" />
                            </MudDrawerHeader>
                            <MudDrawerContainer>
                                <MudNavMenu Class="mud-width-full">
                                    @*     <MudNavLink Href="/tblStudentlist" Match="NavLinkMatch.All" Style="font-size: 16px">
                                    <MudIcon Icon="@Icons.Material.Filled.Dashboard" /> Status check
                                    </MudNavLink> *@

                                    <MudNavLink Href="/tblStudentlist" Match="NavLinkMatch.All" Style="font-size: 16px">
                                        <MudIcon Icon="@Icons.Material.Filled.AppRegistration" /> @Language.Phrase("tblstudents", "tblcaption")
                                    </MudNavLink>

                                    <MudNavLink Href="/paymentsInfo" Match="NavLinkMatch.All" Style="font-size: 16px">
                                        <MudIcon Icon="@Icons.Material.Filled.Payment" /> @Language.Phrase("tblbillinginfo", "tblcaption")
                                    </MudNavLink>

                                    <MudNavLink Variant="Variant.Text" Style="font-size: 16px" OnClick="OpenDrawer">
                                        <MudIcon Icon="@Icons.Material.Filled.Language" /> @Language.Phrase("language")
                                    </MudNavLink>

                                    <MudNavLink Href="/logout" Match="NavLinkMatch.All" Style="font-size: 16px">
                                        <MudIcon Icon="@Icons.Material.Filled.Logout" />
                                        @Language.Phrase("logout")
                                    </MudNavLink>
                                </MudNavMenu>
                            </MudDrawerContainer>
                        </MudDrawer>

                        <MudDrawer Class="mud-theme-primary rounded-t-xl" @bind-Open="@open" Anchor="Anchor.Bottom" Variant="@DrawerVariant.Temporary">
                            <MudDrawerHeader>
                                <MudText Typo="Typo.h6">@Language.Phrase("appLanguage")</MudText>
                            </MudDrawerHeader>
                            <MudDrawerContainer>

                                @*    <MudPaper Class="pa-3">
                                @if (LocalizationService.SelectedLanguage != null)
                                {
                                <MudRadioGroup T="EwLanguage" Value="LocalizationService.SelectedLanguage" ValueChanged="LanguageSelectedOptionChanged">
                                <MudStack Spacing="0">

                                @foreach (var language in LocalizationService.EwLanguages)
                                {
                                <MudRadio Value="language">
                                @language.Name
                                </MudRadio>
                                }
                                </MudStack>
                                </MudRadioGroup>
                                }
                                </MudPaper> *@

                                <MudPaper Class="pa-3">
                                    <MudRadioGroup T="Language" ValueChanged="LanguageSelectedOptionChanged" Value="LocalizationService.CurrentLanguage">
                                        <MudStack Spacing="0">

                                            @foreach (Language language in Enum.GetValues(typeof(Language)))
                                            {
                                                <MudRadio Value="language">@language.ToDescriptionString()</MudRadio>
                                            }
                                        </MudStack>
                                    </MudRadioGroup>
                                </MudPaper>
                            </MudDrawerContainer>
                        </MudDrawer>
                    </Authorized>
                </AuthorizeView>
                @Body
            </ChildContent>
        </MudLayout>
    </CascadingValue>
</MudRTLProvider>



@code {

    bool open = false;

    void OpenDrawer()
    {
        open = !open;

    }

    protected override void OnInitialized()
    {
        //StateHasChanged();
    }

    public async Task LanguageSelectedOptionChanged(Language language)
    {


        //  await LocalizationService.SetLanguageAsync(language);
        //  open = false;
        // StateHasChanged();


        if (language != LocalizationService.CurrentLanguage)
        {
            await LocalizationService.SetLanguageAsync(language);
            open = false;
            StateHasChanged();
            LocalizationService.CurrentLanguage = language;
            await Task.Delay(500);
            await JsService.InvokeVoidAsync("location.reload");
        }


         // await JsService.InvokeVoidAsync("location.reload");

    }
}