@page "/register"

@inject LocalizationService Language
@inject RegisterService RegisterService

@* <h3> Sign-up</h3> *@
<h3> @Language.Phrase("register")</h3>


<MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
        <MudTabPanel Text="@Language.Phrase("registrationtab1")">
            <MudItem xs="4">
                <RegisterGeneralInfo Model="RegisterModel" />
            </MudItem>
        </MudTabPanel>
        <MudTabPanel Text="@Language.Phrase("registrationtab2")">
            <MudItem xs="4">
                <AccessCredentials Model="RegisterModel" />
            </MudItem>
        </MudTabPanel>
        <MudTabPanel Text="@Language.Phrase("registrationtab3")">
            <MudItem xs="4">
                <DrivingStatus Model="RegisterModel" />
            </MudItem>
        </MudTabPanel>
        <MudTabPanel Text="@Language.Phrase("registrationtab4")">
            <MudText xs="4">
                <EmergencyContact Model="RegisterModel" />
            </MudText>
        </MudTabPanel>
    </MudTabs>
</MudHidden>

<MudHidden Breakpoint="Breakpoint.SmAndDown " Invert="true">
    <MudExpansionPanels MultiExpansion="false">
        <MudExpansionPanel Text="@Language.Phrase("registrationtab1")" >
            <MudItem>
                <RegisterGeneralInfo Model="RegisterModel" />

            </MudItem>
        </MudExpansionPanel>
        <MudExpansionPanel Text="@Language.Phrase("registrationtab2")">
            <AccessCredentials Model="RegisterModel" />
        </MudExpansionPanel>
        <MudExpansionPanel Text="@Language.Phrase("registrationtab3")">
            <DrivingStatus Model="RegisterModel"/>
        </MudExpansionPanel>
        <MudExpansionPanel Text="@Language.Phrase("registrationtab4")">
            <EmergencyContact Model="RegisterModel"/>
        </MudExpansionPanel>
    </MudExpansionPanels>
    <MudButton Color="Color.Primary" OnClick="()=>OnClickSubmit(RegisterModel)">Submit</MudButton>
</MudHidden>


