@using AlriyadahBMS.Shared.ViewModels


@inject LocalizationService Language
<MudDialog Class="overflow-y-scroll">

    <DialogContent>
        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
            <MudTabPanel Text="@Language.Phrase("tblbillinginfo","tblpagecaption1")">

                <MudText>
                    <table class="table table-bordered table-hover ew-view-table">
                        <tbody>
                            <tr>
                                <td class="w-col-2"><strong>@Language.Phrase("tblbillinginfo", "nationalid", "fldcaption")</strong></td>
                                <td>
                                    <span>
                                        @paymentsData?.NationalID
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-col-2"> <strong>@Language.Phrase("tblstudents", "str_first_name", "fldcaption")</strong></td>
                                <td>
                                    <span>
                                        @paymentsData?.str_First_Name
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-col-2"><strong>@Language.Phrase("tblstudents", "str_last_name", "fldcaption")</strong> </td>
                                <td>
                                    <span>
                                        @paymentsData?.str_Last_Name
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-col-2"><strong>@Language.Phrase("billing_status", "str_approvalcode", "fldcaption")</strong></td>
                                <td>
                                    <span>
                                        @paymentsData?.str_ApprovalCode
                                    </span>
                                </td>
                            </tr>
                            <tr id="r_User_Role">
                                <td class="w-col-2"><strong>@Language.Phrase("tblbillinginfo", "str_transactiontime_updated", "fldcaption")</strong></td>
                                <td>
                                    <span>
                                        @paymentsData?.str_TransactionTime
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-col-2"><strong>@Language.Phrase("tblbillinginfo", "package_name", "fldcaption")</strong></td>
                                <td>
                                    <span>
                                        @paymentsData?.Package_Name
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-col-2"><strong>@Language.Phrase("tblbillinginfo", "price", "fldcaption")</strong></td>
                                <td>
                                    <span>
                                        @paymentsData?.Price
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-col-2"><strong>@Language.Phrase("tblbillinginfo", "course", "fldcaption")</strong></td>
                                <td>
                                    <span>
                                        @paymentsData?.course
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-col-2"><strong>@Language.Phrase("tblbillinginfo", "institution", "fldcaption")</strong></td>
                                <td>
                                    <span>
                                        @paymentsData?.institution
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </MudText>

            </MudTabPanel>
            <MudTabPanel Text="@Language.Phrase("tblbillinginfo", "tblpagecaption2")">

                <table class="table table-bordered table-hover ew-view-table">
                    <tbody>
                        <tr>
                            <td class="w-col-2"><strong>@Language.Phrase("tblbillinginfo", "int_payment_method", "fldcaption")</strong></td>
                            <td>
                                <span>
                                    @paymentsData?.int_Payment_Method
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-col-2"> <strong>@Language.Phrase("tblbillinginfo", "date_paid", "fldcaption")</strong></td>
                            <td>
                                <span>
                                    @paymentsData?.date_Paid
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-col-2"><strong>@Language.Phrase("tblbillinginfo", "str_amount_pay_updated", "fldcaption")</strong> </td>
                            <td>
                                <span>
                                    @paymentsData?.str_Amount_Pay
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-col-2"><strong>@Language.Phrase("tblbillinginfo", "mny_running_payments", "fldcaption")</strong></td>
                            <td>
                                <span>
                                    @paymentsData?.mny_Running_Payments
                                </span>
                            </td>
                        </tr>
                        <tr id="r_User_Role">
                            <td class="w-col-2"><strong>@Language.Phrase("tblbillinginfo", "mny_running_balance", "fldcaption")</strong></td>
                            <td>
                                <span>
                                    @paymentsData?.mny_Running_Balance
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-col-2"><strong>@Language.Phrase("tblbillinginfo", "str_payment_note_updated", "fldcaption")</strong></td>
                            <td>
                                <span>
                                    @paymentsData?.str_Payment_Note
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                    
            </MudTabPanel>
        </MudTabs>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Color="Color.Primary">@Language.Phrase("cancelbtn")</MudButton>

    </DialogActions>

</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = null!;

    [Parameter]
    public PaymentsModel? paymentsData { get; set; }
    void Cancel() => MudDialog.Cancel();
}
