@using AlriyadahBMS.Services
@using AlriyadahBMS.Shared.ViewModels


@inject LocalizationService Language
@inject TableService tableService
<MudDialog Class="overflow-y-scroll">
    <DialogContent>

        <MudExpansionPanels MultiExpansion="false">
            <MudExpansionPanel Text="General Information" IsInitiallyExpanded="true">
                <MudPaper Elevation="0">
                    @* <label for="Category-Title">First Name</label> *@
                    @* <MudTextField T="string" Label="First Name" Variant="Variant.Outlined" Placeholder="First Name" @bind-Value="StudentEditData.str_First_Name" /> *@
                    <MudTextField T="string" Label="@Language.Phrase("tblstudents", "str_first_name", "fldcaption")" Variant="Variant.Outlined" Placeholder="@Language.Phrase("tblstudents", "str_first_name", "fldcaption")" @bind-Value="StudentEditData.str_First_Name" />

                    <MudTextField T="string" Label="@Language.Phrase("tblstudents", "str_middle_name", "fldcaption")" Variant="Variant.Outlined" Placeholder="@Language.Phrase("tblstudents", "str_middle_name", "fldcaption")" @bind-Value="StudentEditData.str_Middle_Name" />
                    <MudTextField T="string" Label="@Language.Phrase("tblstudents", "str_last_name", "fldcaption")" Variant="Variant.Outlined" Placeholder="@Language.Phrase("tblstudents", "str_last_name", "fldcaption")" @bind-Value="StudentEditData.str_Last_Name" />
                    <MudTextField T="string" Label="@Language.Phrase("tblstudents", "str_address", "fldcaption")" Variant="Variant.Outlined" Placeholder="@Language.Phrase("tblstudents", "str_address", "fldcaption")" @bind-Value="StudentEditData.str_Address" />

                    <MudSelect T="string" Label="@Language.Phrase("tblstudents", "str_city", "fldcaption")" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" @bind-Value="StudentEditData.str_City">
                        @if (CityList != null)
                            foreach (var cityName in CityList)
                            {
                                <MudSelectItem T="string" Value="@cityName.City">@cityName.City</MudSelectItem>
                            }
                    </MudSelect>
                    <MudTextField T="string" Label="@Language.Phrase("tblstudents", "str_zip", "fldcaption")" Variant="Variant.Outlined" Placeholder="@Language.Phrase("tblstudents", "str_zip", "fldcaption")" @bind-Value="StudentEditData.str_Zip" />
                    <MudTextField T="string" Label="@Language.Phrase("tblstudents", "date_hired", "fldcaption")" Variant="Variant.Outlined" Placeholder="@Language.Phrase("tblstudents", "date_hired", "fldcaption")" @bind-Value="StudentEditData.date_Hired" />
                    <MudTextField T="string" Label="@Language.Phrase("tblstudents", "str_cell_phone", "fldcaption")" Variant="Variant.Outlined" Placeholder="@Language.Phrase("tblstudents", "str_cell_phone", "fldcaption")" @bind-Value="StudentEditData.str_Cell_Phone" />
                    <MudTextField T="string" Label="@Language.Phrase("tblstudents", "str_home_phone", "fldcaption")" Variant="Variant.Outlined" Placeholder="@Language.Phrase("tblstudents", "str_home_phone", "fldcaption")" @bind-Value="StudentEditData.str_Home_Phone" />
                    <MudTextField T="string" Label="@Language.Phrase("tblstudents", "str_other_phone", "fldcaption")" Variant="Variant.Outlined" Placeholder="@Language.Phrase("tblstudents", "str_other_phone", "fldcaption")" @bind-Value="StudentEditData.str_Other_Phone" />
                    <MudTextField T="string" Label="@Language.Phrase("tblstudents", "str_email", "fldcaption")" Variant="Variant.Outlined" Placeholder="@Language.Phrase("tblstudents", "str_email", "fldcaption")" @bind-Value="StudentEditData.str_Email" />
                    <MudSelect Label="@Language.Phrase("hijri_table", "hijri_year", "fldcaption")" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" @bind-Value="StudentEditData.Hijri_Year">
                        @if (HijriList != null)
                        {
                            foreach (var hijriyear in HijriList)
                            {
                                <MudSelectItem T="int?" value="@hijriyear.Hijri_Year">@hijriyear.Hijri_Year</MudSelectItem>
                            }
                        }
                    </MudSelect>
                    <MudSelect Label="@Language.Phrase("hijri_table", "hijri_month", "fldcaption")" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" @bind-Value="StudentEditData.Hijri_Month">
                        @if (HijriList != null)
                        {
                            foreach (var hijriMonth in HijriList!.Take(12))
                            {
                                <MudSelectItem T="int?" value="@hijriMonth.Hijri_Month">@(LocalizationService.SelectedLanguage!.Name == "English (US)" ? hijriMonth.Hijri_Monthname : hijriMonth.Hijri_mon_ar.Split('-')[1].Trim())</MudSelectItem>
                            }
                        }
                    </MudSelect>
                    <MudSelect Label="@Language.Phrase("hijri_table", "hijri_day", "fldcaption")" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" @bind-Value="StudentEditData.Hijri_Day">
                        @if (HijriList != null)
                        {
                            foreach (var hijriDay in HijriList)
                            {
                                <MudSelectItem T="int?" value="@hijriDay.Hijri_Day">@hijriDay.Hijri_Day</MudSelectItem>
                            }
                        }
                    </MudSelect>
                    <MudTextField Label="@Language.Phrase("tblstudents", "int_nationality", "fldcaption")" Variant="Variant.Outlined" Placeholder="@Language.Phrase("tblstudents", "int_nationality", "fldcaption")" @bind-Value="StudentEditData.int_Nationality" />
                    <MudSelect Label="@Language.Phrase("tblstudents", "user_role", "fldcaption")" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" @bind-Value="StudentEditData.User_Role">
                        <MudSelectItem T="string" value="User Role">@Language.Phrase("tblstudents", "user_role", "fldcaption")</MudSelectItem>
                            <MudSelectItem T="string" value="Employee">@Language.Phrase("tblstudents", "user_role", "fldtagcaption2")</MudSelectItem>
                        </MudSelect>
                        <MudTextField Label="@Language.Phrase("tblstudents", "int_staff_id_updated", "fldcaption")" Variant="Variant.Outlined" Placeholder="@Language.Phrase("tblstudents", "int_staff_id_updated", "fldcaption")" @bind-Value="StudentEditData.int_Staff_Id" />

                    </MudPaper>

                </MudExpansionPanel>
                <MudExpansionPanel Text="@Language.Phrase("tblstudents", "tblpagecaption2")">
                    <MudPaper Elevation="0">
                        <MudTextField Label="@Language.Phrase("tblstudents", "str_nationalid_iqama", "fldcaption")" Variant="Variant.Outlined" Placeholder="@Language.Phrase("tblstudents", "str_nationalid_iqama", "fldcaption")" @bind-Value="StudentEditData.str_NationalID_Iqama" />
                        <MudTextField Label="@Language.Phrase("userlevels", "userlevelid", "fldcaption")" Variant="Variant.Outlined" Placeholder="@Language.Phrase("userlevels", "userlevelid", "fldcaption")" Value="@Utility.GetCurrentUserLevelName(StudentEditData.UserlevelID)" Disabled="true" />
                        <MudTextField Label="@Language.Phrase("tblstudents", "parent_username", "fldcaption")" Variant="Variant.Outlined" Placeholder="@Language.Phrase("tblstudents", "parent_username", "fldcaption")" @bind-Value="StudentEditData.Parent_Username" />
                        <MudCheckBox Label="@Language.Phrase("tblstudents", "activated", "fldcaption")" @bind-Value="@StudentEditData.Activated" Size="Size.Small" Color="Color.Primary"></MudCheckBox>

                    </MudPaper>
                </MudExpansionPanel>
                <MudExpansionPanel Text="@Language.Phrase("tblstudents", "tblpagecaption3")">
                    <MudPaper Elevation="0">
                        <MudCheckBox Label="@Language.Phrase("tblstudents", "isdrivingexperience", "fldcaption")" @bind-Value="@StudentEditData.IsDrivingexperience" Size="Size.Small" Color="Color.Primary"></MudCheckBox>
                        <MudSelect Label="User Role" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" @bind-Value="StudentEditData.intDrivinglicenseType">
                            @{


                         //   var check = Language.GetPhrases("tblstudents", "intdrivinglicensetype");
                           

                            foreach (DrivingLicense type in Enum.GetValues(typeof(DrivingLicense)))
                            {
                                int? value = (int)type;
                                <MudSelectItem T="int?" value="@value">@type.ToDescriptionString()</MudSelectItem>

                            }
                        }
                    </MudSelect>
                    <MudTextField Label="@Language.Phrase("tblstudents", "absherapptnbr", "fldcaption")" Variant="Variant.Outlined" Placeholder="@Language.Phrase("tblstudents", "absherapptnbr", "fldcaption")" @bind-Value="StudentEditData.AbsherApptNbr" />
                    <MudTextField Label="@Language.Phrase("tblstudents", "absherphoto", "fldcaption")" Variant="Variant.Outlined" Placeholder="@Language.Phrase("tblstudents", "absherphoto", "fldcaption")" @bind-Value="StudentEditData.Absherphoto" />

                    @* <MudButton Class="mt-3" Variant="Variant.Filled" Color="Color.Default">Close</MudButton> *@
                </MudPaper>
            </MudExpansionPanel>
            <MudExpansionPanel Text="@Language.Phrase("tblstudents", "tblpagecaption4")">
                <MudPaper Elevation="0">
                    <MudTextField Label="@Language.Phrase("tblstudents", "date_started", "fldcaption")" Variant="Variant.Outlined" Placeholder="@Language.Phrase("tblstudents", "date_started", "fldcaption")" @bind-Value="StudentEditData.date_Started" />
                    <MudTextField Label="@Language.Phrase("tblstudents", "str_datehired_updated", "fldcaption")" Variant="Variant.Outlined" Placeholder="@Language.Phrase("tblstudents", "str_datehired_updated", "fldcaption")" @bind-Value="StudentEditData.str_DateHired" />
                    <MudTextField Label="@Language.Phrase("tblstudents", "str_dateleft_updated", "fldcaption")" Variant="Variant.Outlined" Placeholder="@Language.Phrase("tblstudents", "str_dateleft_updated", "fldcaption")" @bind-Value="StudentEditData.str_DateLeft" />
                    <MudTextField Label="@Language.Phrase("tblstudents", "str_emergency_contact_name", "fldcaption")" Variant="Variant.Outlined" Placeholder="@Language.Phrase("tblstudents", "str_emergency_contact_name", "fldcaption")" @bind-Value="StudentEditData.str_Emergency_Contact_Name" />
                    <MudTextField Label="@Language.Phrase("tblstudents", "str_emergency_contact_phone", "fldcaption")" Variant="Variant.Outlined" Placeholder="@Language.Phrase("tblstudents", "str_emergency_contact_phone", "fldcaption")" @bind-Value="StudentEditData.str_Emergency_Contact_Phone" />
                    <MudTextField Label="@Language.Phrase("tblstudents", "str_emergency_contact_relation", "fldcaption")" Variant="Variant.Outlined" Placeholder="@Language.Phrase("tblstudents", "str_emergency_contact_relation", "fldcaption")" @bind-Value="StudentEditData.str_Emergency_Contact_Relation" />
                    <MudSelect Label="@Language.Phrase("tblstudents", "str_emergency_contact_relation", "fldcaption")" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" @bind-Value="StudentEditData.str_Emergency_Contact_Relation">
                        @* <MudSelectItem T="string" Value="">Please select</MudSelectItem> *@
                        @foreach (RelationshipType relation in Enum.GetValues(typeof(RelationshipType)))
                        {
                            <MudSelectItem T="string" Value="@relation.ToString()">@relation.ToString()</MudSelectItem>
                        }
                    </MudSelect>

                    <MudTextField T="string" Label="@Language.Phrase("calendar2", "notes", "fldcaption")" Lines="7" Variant="Variant.Outlined" @bind-Value="StudentEditData.str_Notes" />

                </MudPaper>


            </MudExpansionPanel>
        </MudExpansionPanels>
    </DialogContent>
    <DialogActions>

        @* <MudButton OnClick="Cancel"  Color="Color.Primary">Cancel</MudButton> *@

        <MudButton Class="mt-3 mb-2" OnClick="Cancel" Variant="Variant.Filled" Color="Color.Default">@Language.Phrase("closebtn")</MudButton>
            <MudButton Class="mt-3 mb-2" Variant="Variant.Filled" Color="Color.Primary" OnClick="OnClick_UpdateStudentRegistration">@Language.Phrase("savebtn")</MudButton>

            @* <MudButton OnClick="StudentDataEdit"> </MudButton> *@

        </DialogActions>
    </MudDialog>

