@page "/tblStudentlist"
@using AlriyadahBMS.Services
@using AlriyadahBMS.Shared.ViewModels

@inject ISwaggerApiService Swagger
@inject TableService tableService
@inject IDialogService Dialog

@attribute [Authorize]
@inject LocalizationService Language
@inject IDialogService DialogService

@* <PageLayout Title="Student Registration"> *@
<PageLayout Title="@Language.Phrase("tblstudents","tblcaption")">
    @*   <MudItem xs="4">
    <MudPaper Elevation="3" Class="pa-4">
    <div class="text-center mb-4">
    <h4>Student Registration</h4>
    </div>
    <MudTextField Label="First Name" @bind-Value="studentRegistrationModel.str_First_Name" />
    <MudTextField Label="Last Name" @bind-Value="studentRegistrationModel.str_Last_Name" />
    <MudTextField Label="Cell Phone" @bind-Value="studentRegistrationModel.str_Cell_Phone" Mask="@(new PatternMask("00 0000 0000"))" />
    <MudTextField Label="Email" @bind-Value="studentRegistrationModel.str_Email" />

    <MudTextField Label="Absher Appointment Number" @bind-Value="studentRegistrationModel.AbsherApptNbr" />
    <MudTextField @bind-Value="studentRegistrationModel.AbsherApptNbr" Variant="Variant.Outlined" />

    <MudButton Variant="Variant.Filled" Size="Size.Medium" Color="Color.Primary">Medium</MudButton>

    </MudPaper>
    </MudItem> *@


    <MudTable Items="@tblRecord" Dense="false" Hover="true" ReadOnly="false" CanCancelEdit="false" Filter="new Func<StudentRegistrationModel,bool>(FilterFunc)" SortLabel="Sort By">
    @* <MudTable Items="@tblRecord" Dense="false" Hover="true" ReadOnly="false" CanCancelEdit="false" SortLabel="Sort By"> *@
        <ToolBarContent>
            @* <MudText Typo="Typo.h6">Student Registration</MudText> *@
            <MudSpacer />
            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            @* <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" ></MudTextField> *@
            @* <input type="text" value="@searchString" @oninput="FilterRecords" /> *@


@* 
            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="search" class="form-control w-100 form-control mt-3 mb-3 rounded-pill" @bind="searchString" @oninput="FilterRecords" placeholder="Search">
            </div> *@

        </ToolBarContent>

        <HeaderContent>
            <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<StudentRegistrationModel, object>(x=>x.str_First_Name)">  @Language.Phrase("tblstudents", "str_first_name", "fldcaption") </MudTableSortLabel></MudTh>



                <MudTh><MudTableSortLabel SortBy="new Func<StudentRegistrationModel, object>(x=>x.str_Last_Name)">@Language.Phrase("tblstudents", "str_last_name", "fldcaption")</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<StudentRegistrationModel, object>(x=>x.str_Cell_Phone)">@Language.Phrase("tblstudents", "str_cell_phone", "fldcaption")  </MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<StudentRegistrationModel, object>(x=>x.str_Email)">@Language.Phrase("tblstudents", "str_email", "fldcaption") </MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<StudentRegistrationModel, object>(x=>x.str_NationalID_Iqama)">@Language.Phrase("tblstudents", "str_nationalid_iqama", "fldcaption") </MudTableSortLabel></MudTh>

                <MudTh><MudTableSortLabel SortBy="new Func<StudentRegistrationModel, object>(x=>x.intDrivinglicenseType)">@Language.Phrase("tblstudents", "intdrivinglicensetype", "fldcaption")</MudTableSortLabel></MudTh>

                <MudTh><MudTableSortLabel SortBy="new Func<StudentRegistrationModel, object>(x=>x.AbsherApptNbr)">@Language.Phrase("tblstudents", "absherapptnbr", "fldcaption")</MudTableSortLabel></MudTh>
                <MudTh>@Language.Phrase("tblstudents", "student_action", "fldcaption")</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="@Language.Phrase("tblstudents", "str_last_name", "fldcaption")">@context.str_First_Name</MudTd>
                <MudTd DataLabel="@Language.Phrase("tblstudents", "str_last_name", "fldcaption")">@context.str_Last_Name</MudTd>
                <MudTd DataLabel="@Language.Phrase("tblstudents", "str_cell_phone", "fldcaption")">@context.str_Cell_Phone</MudTd>
                <MudTd DataLabel="@Language.Phrase("tblstudents", "str_email", "fldcaption")">@context.str_Email</MudTd>
                <MudTd DataLabel="@Language.Phrase("tblstudents", "str_nationalid_iqama", "fldcaption")">@context.str_NationalID_Iqama</MudTd>

                @* <MudTd DataLabel="Driving License Type">@context.intDrivinglicenseType</MudTd> *@
                <MudTd DataLabel="@Language.Phrase("tblstudents", "intdrivinglicensetype", "fldcaption")">
                    @{
                    DrivingLicense type = (DrivingLicense)(context?.intDrivinglicenseType ?? 0);
                    if (type != 0)
                    {
                        <span>@type.ToDescriptionString()</span>
                    }
                }
            </MudTd>

            <MudTd DataLabel="@Language.Phrase("tblstudents", "absherapptnbr", "fldcaption")">@context.AbsherApptNbr</MudTd>
                <MudTd>
                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.RemoveRedEye" OnClick="(()=> OnClick_StudentViewDetails(context))" />
                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="(()=> OnClick_StudentEditDetails(context))" />
                    @* <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" /> *@
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </PageLayout>



